{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('create_blog') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for blog in blogs %}
    <article class="post">
        <header>
        <div>
            <a href="{{ url_for('get_blog_detail', id=blog['id']) }}">
                <h1>{{ blog['title'] }}</h1>
                <div class="about">by {{ blog['name'] }} on {{ blog['created_at'].strftime('%Y-%m-%d') }}</div>
            </a>
        </div>
        {% if g.user['id'] == blog['author_id'] %}
            <a class="action" href="{{ url_for('update_blog', id=blog['id']) }}">Edit</a>
        {% endif %}
        </header>
        <p class="body">{{ blog['body'] }}</p>
    </article>
    {% if not loop.last %}
        <hr>
    {% endif %}
  {% endfor %}
{% endblock %}